body {
  margin:0;
}

@font-face
{
 font-family: "Roboto";
 src: url("../font/Roboto-Regular.ttf");

}

*
{
  font-family:"Roboto",sans-serif;
}

/*header*/
header {
  background:linear-gradient(0deg, blue 10%, #6699CC 90%);
  display:flex;
  flex-direction: row;
}


header nav {
  width:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 3%;
}

header nav a {
  text-decoration: none;
}

.titleSite {
  color:white;
  font-weight: 600;
  font-size:30px;
}

/*espace connexion admin*/
.adminCo {
  text-align: center;
  width:5%;
  position: absolute;
  right:5%;
  top:5%;
  display: flex;
  color:white;
  background-color: black;
  border:2px solid white;
  border-radius: 5%;
  text-decoration: none;
}


.fa-user {
  padding-left:5%;
  padding-right:5%;
  position: relative;
  top: 8px;
}

.adminButtonCo {
  margin:0;
  padding:10%;
  font-size:16px;
}

#formCo {
  position: absolute;
  right:2%;
  top:5%;
}

/*page accueil*/
.descriptionHomeImg
{
  background-image:url("../images/homeImg.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  width:100%;
  height:700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.descriptionHomeTitle
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.sndTitle {
  text-align: center;
  width:40%;
  display: block;
  margin-top:2%;
  margin-left: auto;
  margin-right: auto;
  text-decoration: underline;
}

.chapterHome {
  padding-top:2%;
  padding-bottom:2%;
  background-color:#C0C0C0;
  display:flex;
  flex-direction:row;
  border-top: 2px solid  #424949;
  border-bottom: 2px solid  #424949;
}

.selectChapterHome {
  width:50%;
}

.selectChapterHome li
{
  text-align: center;
  font-size: 22px;
  padding-bottom: 2%;
  list-style: none;
}

.selectChapterHome li a {
  text-decoration: none;
}
.autobio {
  text-align: center;
  width:35%;
  padding:0 7.5% 0 7.5%;
  font-size:18px;
}
/*page chapitre*/

.chapterFocus {
  width:50%;
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border:2px solid black;
  font-size: 24px;
  padding: 1% 2.5% 1% 2.5%;
  text-align:center;
}

.chapterFocus p:first-child {
  text-decoration: underline;
  font-weight: bold;
}

.otherChapter {
  border-top: 2px solid grey;
  margin-top: 5%;
  text-align: center;
  list-style: none;
  font-size: 24px;
  font-weight: bold;
  padding: 5% 0 3% 0;
}

.otherChapter li {
  padding:0.5%;
  list-style: none;
}

.otherChapter li a {
  text-decoration: none;

}

.backHome {
  text-align: center;
  font-size: 24px;
  color:black;
  text-decoration: none;
  margin-left: auto;
  display: block;
  margin-right: auto;
  padding-bottom: 1.5%;
  border-bottom: 2px solid grey;
}
/*page admin*/
.createChapter {
  background-image:url("../images/route.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  padding:4% 0 4% 0;
}

.ecritureJean {
  width:50%;
  border:2px solid black;
  margin-top:2%;
  margin-left:auto;
  margin-right:auto;
  padding: 2%;
  background-color: white;
}

.ecritureJean label {
  text-align: center;
  margin:2%;
  width: 100%;
  font-size: 16px;
}

.titleAdmin {
  padding: 2%;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  text-decoration: underline;
  margin: 0;
}

.chapterDone {
  margin-top:0;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  background-color: #C0C0C0;
  padding-bottom: 2%;
}

#textConfirm {
  margin:2% 0 0 2%;
}

.chapterZone {
  width:50%;
  border:2px solid black;
  padding: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.chapterZone h3 {
  text-decoration: underline;
}

div.chapterZone:last-child {
  margin-bottom:0;
}
/*footer*/

footer {
  background-color:#CCCC99;
}

footer p {
  color:white;
  font-weight: 600;
  font-size:20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding:3%;
}
